<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
</head>

<body>
    <div th:fragment="sidebar">
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " th:href="@{/region}" th:classappend="${isActive} != 'region' ? 'collapsed':''">
                        <i class="bi bi-globe"></i>
                        <span>Region</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/country}"
                        th:classappend="${isActive} != 'country' ? 'collapsed':''">
                        <i class="bi bi-geo-alt"></i>
                        <span>Country</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/employee}"
                        th:classappend="${isActive} != 'employee' ? 'collapsed':''">
                        <i class="bi bi-people"></i>
                        <span>Employee</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}" th:classappend="${isActive} != 'user' ? 'collapsed':''">
                        <i class="bi bi-person"></i>
                        <span>User</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/role}" th:classappend="${isActive} != 'role' ? 'collapsed':''">
                        <i class="bi bi-person-check"></i>
                        <span>Role</span>
                    </a>
                </li><!-- End Dashboard Nav -->
            </ul>
        </aside><!-- End Sidebar-->
    </div>
</body>

</html>