<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <title>User</title>
</head>

<body>
    <main id="main" class="main" layout:fragment="main">
        <!-- Content -->
        <section class="container">
            <div class="d-flex justify-content-between align-items-center mt-3 px-3 bg-dark ">
                <h1 class="fw-bold text-center mt-3" style="color: white;">List of User</h1>
                <a th:href="@{user/create}" type="button" class="btn btn-primary">
                    <i class="bi bi-plus-square-fill fs-5"></i>
                </a>
            </div>

            <!-- Table -->
            <table id="employee-table" class="table mt-3 table-striped table-hover text-center table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th class="col-1 text-center">No</th>
                        <th class="col-1 text-center">Username</th>
                        <!-- <th class="col-4 text-center">Password</th> -->
                        <th class="col-2 text-center">isEnabled</th>
                        <th class="col-2 text-center">isAccountNonLocked</th>
                        <th class="col-6 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user, key : ${users}">
                        <td th:text="${key.count}"></td>
                        <td th:text="${user.username}"></td>
                        <!-- <td th:text="${user.password}"></td> -->
                        <td th:text="${user.isEnabled}"></td>
                        <td th:text="${user.isAccountNonLocked}"></td>
                        <td class="d-flex justify-content-center align-items-center gap-3">
                            <a th:href="@{/user/{id} (id=${user.id})}" class="btn btn-primary"><i
                                    class="bi bi-box-arrow-in-up-right fs-5"></i></a>
                            <a th:href="@{/user/update/{id} (id=${user.id})}" class="btn btn-warning"><i
                                    class="bi bi-file-text fs-5"></i></a>
                            <form th:action="@{/user/{id} (id=${user.id})}" th:method="DELETE">
                                <button class="btn btn-danger" type="submit"
                                    onclick="return confirm('Are you sure want to delete it?')">
                                    <i class="bi bi-trash fs-5"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <!-- JS Local -->
    <div layout:fragment="script">
        <script type="text/javascript">
            $(document).ready(function () {
                $("#employee-table").DataTable();
            });
        </script>
        <!-- <script th:src="@{/js/Employee.js}"></script> -->
    </div>
</body>

</html>